html{
  background-color: #00359f;
}
body{
  width: 600px;
  margin: 0 auto;
  background-color: #ff9500;
  padding: 10px 20px 20px 20px;
  border: 4px solid black;
}

h1{
  font-size: 40px;
  text-align: center;
  margin:0;
  padding: 0 20px;
  color: #00539f;
  text-shadow: 3px 3px 1px black;
}
p,li{
  font-size: 14px;
  line-height: 2em;
  letter-spacing: 1px;
}

img{
  display: block;
  margin:0 auto;
}


